body {
    color: beige;
    background: #111;
    margin-bottom: 200px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 0.5em;
}

.item {
    padding: 0.5em;
    text-align: center;
}

/* Left content */

.label {
    font-size: 4rem;
}

.price {
    font-size: 3rem;
}

.flag {
    font-size: 2rem;
}

/* Right content */

.next_label {
    font-size: 4rem;
}

.next_price {
    font-size: 3rem;
}

.next_flag {
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    /* Left content */
    .label {
        font-size: 2rem;
    }
    .price {
        font-size: 1.3rem;
    }
    .flag {
        font-size: 0.7rem;
    }
    /* Right content */
    .next_label {
        font-size: 2rem;
    }
    .next_price {
        font-size: 1.3rem;
    }
    .next_flag {
        font-size: 0.7rem;
    }
}